<%- include('partials/header') %>

<main class="container">
    <% if (hero) { %>
    <section class="hero">
        <div class="hero-image-placeholder" style="background-image: url('<%= hero.image_url %>'); background-size: cover; background-position: center;"></div>
        <div class="hero-content">
            <h2><%= hero.title %></h2>
            <p><%= hero.description %></p>
        </div>
    </section>
    <% } %>

    <section class="spots-section">
        <div class="spots-grid">
            <% spots.forEach(spot => { %>
            <a href="<%= spot.link_url || '#' %>" class="spot">
                <div class="spot-img-placeholder" style="background-image: url('<%= spot.image_url %>');"></div>
                <div class="spot-content text-white"><%= spot.title %></div>
            </a>
            <% }) %>
        </div>
    </section>

    <section class="product-section">
        <div id="product-grid" class="product-grid">
            <% products.forEach(product => { %>
                <%- include('partials/product-card', { product }) %>
            <% }) %>
        </div>
    </section>
</main>

<%- include('partials/footer') %>